@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .First_part a {
        text-decoration: none;
        font-size: 70px;
        color: aliceblue;
        letter-spacing: 9px;
    }
    .First_part p {
        color: rgba(253, 242, 222, 0.789);
        font-size: 24px;
        margin-left: -1px;
    }
    .second_part {
        margin-left: 10%;
        margin-top: 21%;
    }
    .second_part ul li a {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.926);
        color: teal;
        padding: 25px;
        font-size: 18px;
        font-weight: bold;
    }
  }